<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 0.0">

	<robot name="KUKA_IIWA">
		<model dir="./resources" path="kuka_iiwa.urdf" name="kuka_iiwa" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="-1.5 0.5 1.0" />
		<vertical xyz="0.0 0.0 0.25" />
		<lookat xyz="3.0 -0.25 1.0" />
	</camera>

</world>
